<div class="router">
    <div class="search" id="search">
        <input type="text" [(ngModel)]="inp1" placeholder="Headline, Skills" class="input">
        <span class="symbol">|</span>
        <input type="text" [(ngModel)]="inp2" placeholder="Location" class="input">
        <button (click)="search()" class="button"><b>Find</b></button>
    </div>
    <div class="text" id="text">
        <h2 class="head">Applicants</h2>
    </div>
    <div class="container">
        <div class="left">
            <div *ngFor="let applicant of applicants" class="post" (click)="rightBox(applicant)">
                <div class="boxHead">
                    <img [src]="applicant.image" class="logo">
                    <h2 class="role">{{applicant.name}}</h2>
                </div>
                <p>{{applicant.headline}}</p>
                <p>{{applicant.email}}</p>
                <span class="label">{{applicant.skills}}</span>
                <span class="label">{{applicant.currentPosition}}</span>
                <span class="label">{{applicant.location}}</span>
            </div>
        </div>
        <div class="right" id="right">
            <div class="fix-box">
                <div class="boxHead">
                    <img [src]="selectedApplicant.image" class="logo">
                    <h2 class="role">{{selectedApplicant.name}}</h2>
                </div>
                <span>{{selectedApplicant.headline}}</span>
                <span>{{selectedApplicant.email}}</span>
                <span>{{selectedApplicant.phoneno}}</span>
                <span>{{selectedApplicant.location}}</span>

            </div>
            <div class="change-box">
                <span>
                    <h3>Education</h3>
                </span>
                <span><b>School name</b></span>
                <span>{{selectedApplicant.schoolName}}</span>
                <span><b>School passed out year</b></span>
                <span>{{selectedApplicant.schlPassedOutYear}}</span>
                <span><b>College name</b></span>
                <span>{{selectedApplicant.collegeName}}</span>
                <span><b>College passed out year</b></span>
                <span>{{selectedApplicant.clgPassedOutYear}}</span>
                <span><b>Current position</b></span>
                <span>{{selectedApplicant.currentPosition}}</span>
                <span><b>Skills</b></span>
                <span>{{selectedApplicant.skills}}</span>
                <span><b>Location</b></span>
                <span>{{selectedApplicant.location}}</span>
                <span><b>Date of birth</b></span>
                <span>{{selectedApplicant.dob|toDate|date:'medium'}}</span>
                <span><b>Industries</b></span>
                <ol>
                    <li *ngFor="let industry of selectedApplicant.industries">
                        <div><b>Industry name:</b> {{industry.industryName}}</div>
                        <div><b>Position:</b> {{industry.role}}</div>
                        <div><b>Duration:</b> {{industry.duration}}</div>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>