<div class="router">
    <div class="text" id="text">
        <h2 class="head">Your job posts</h2>
    </div>
    <div class="container">
        <div class="left">
            <div *ngFor="let post of myPost" class="post" (click)="rightBox(post._id)">
                <div class="boxHead">
                    <img [src]=post.recruiterId.image class="logo">
                    <strong>{{post.recruiterId.companyName}}</strong>
                </div>
                <h2 class="role">{{post.role}}</h2>
                <p>{{post.location}}</p>
                <span class="label">{{post.salary}}</span>
                <span class="label">{{post.jobType}}</span>
                <span class="label">{{post.schedule}}</span>
                <p>{{post.content.substring(0,100)+"..."}}</p>
                <span>Post status: <span [ngClass]="post.status==='Open'?'green':'red'">{{post.status}}</span></span>
                <span>{{(post.date | toDate | date:'medium')}}</span>
                <div class="button-box" *ngIf="post.status==='Open'">
                    <button mat-raised-button color="primary" class="button" (click)="close(post)">Close</button>
                </div>
                <div class="button-box" *ngIf="post.status==='Close'">
                    <button mat-raised-button color="primary" class="button" (click)="open(post)">Open</button>
                </div>
            </div>
        </div>
        <div class="right" id="right">
            <h2 class="head">Candidates applied for post</h2>
            <div class="change-box">
                <div *ngFor="let applicant of myPostApplicants" class="applicant">
                    <img [src]="applicant.userId.image" class="image">
                    <span><b>{{applicant.name}}</b></span>
                    <span>{{applicant.email}}</span>
                    <button mat-raised-button color="primary" class="button"
                        (click)="openDialog(applicant)">View</button>
                </div>
            </div>
        </div>
    </div>
    <div class="paginator">
        <mat-paginator (page)="handlePageEvent($event)" [length]="length" [pageSize]="pageSize"
            [showFirstLastButtons]="showFirstLastButtons" [pageSizeOptions]="pageSizeOptions" [pageIndex]="pageIndex"
            aria-label="Select page">
        </mat-paginator>
    </div>
</div>