<div class="header">

    <img src="../../assets/image/images.png">
    <div class="head1">
        <span routerLink="">Home</span>
        <span recruiterShow routerLink="findApplicant">Find applicants</span>
        <span recruiterShow routerLink="myPost">My posts</span>
        <span jobseekerShow routerLink="myJob">My jobs</span>
        <span recruiterShow routerLink="bills">View bills</span>
        <span recruiterShow routerLink="postPage"> Post job</span>
        <span appLoginShow routerLink="profile">Profile</span>
        <span appLoginHide (click)="login()">Sign in</span>

    </div>
</div>
<router-outlet></router-outlet>