<div class="header">

    <img src="../../assets/image/images.png">
    <div class="head1">
        <span routerLink="">Home</span>
        <span routerLink="findApplicant">Find Applicants</span>
        <span routerLink="myPost">My Posts</span>
        <span routerLink="myJob">My Jobs</span>
        <span routerLink="bills">View Bills</span>
        <span routerLink="postPage"> Post Job</span>
        <span appLoginShow routerLink="profile">Profile</span>
        <span appLoginHide (click)="login()">Sign in</span>

    </div>
</div>
<router-outlet></router-outlet>