.header {
    background-color: #2557A7;
    display: grid;
    padding: 10px;
    grid-template-columns: 0.3fr 2fr;
    align-items: center;
    height: max-content;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.head1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}


.title-box {
    justify-content: center;
    align-items: center;
    display: flex;
    column-gap: 5px;
}

.title {
    color: white;
    font-size: medium;
    cursor: pointer;
    width: fit-content;
}

span {
    color: white;
    font-size: medium;
    margin: 0px 10px 0px 60px;
    cursor: pointer;
    width: fit-content;
}

span:hover {
    text-decoration: underline;
}

.buttons {
    width: 30%;
    height: 60px;
    margin-left: 170px;
    border: 0px;
    margin-top: 50px;
    font-size: 25px;
    padding: 10px;
    width: fit-content;
}

img {
    width: 60px;
    height: 10vh;
}

.profile-image {
    border-radius: 50%;
}

.buttons:hover {
    color: black;
    background-color: aliceblue;
    cursor: pointer;
}