.container{
    align-items: center;
    justify-content: center;
}
.box{
display: flex;
flex-direction: column;
margin-top: 10%;
row-gap: 15px;
align-items: center;
justify-content: center;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.button{
    width: fit-content;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}