<div class="router">
    <div class="search" id="search">
        <input type="text" [(ngModel)]="inp1" placeholder="Job title, Job Type" class="input">
        <span class="symbol">|</span>
        <input type="text" [(ngModel)]="inp2" placeholder="Location" class="input">
        <!-- <button mat-fab color="primary" aria-label="Example icon button with a heart icon">
            <mat-icon>search</mat-icon>
        </button> -->
        <button (click)="search()" class="button"><b>Find jobs</b></button>
    </div>
    <div class="text" id="text">
        <h2 class="head">Your new jobs</h2>
    </div>
    <div class="container">
        <div class="left">
            <div *ngFor="let post of jobPosts" (click)="rightBox(post)">
                <div *ngIf="post.status=='Open'" class="post">
                    <div class="boxHead">
                        <img [src]=post.recruiterId.image class="logo">
                        <strong>{{post.recruiterId.companyName}}</strong>
                    </div>
                    <h2 class="role">{{post.role}}</h2>
                    <p>{{post.location}}</p>
                    <span class="label">{{post.salary}}</span>
                    <span class="label">{{post.jobType}}</span>
                    <span class="label">{{post.schedule}}</span>
                    <p>{{post.content.substring(0,100)+"..."}}</p>
                    <p>{{(post.date | toDate | date:'medium')}}</p>
                </div>
            </div>
        </div>
        <div class="right" id="right">
            <div class="fix-box">
                <div class="boxHead">
                    <img [src]=selectedPost.recruiterId.image class="logo">
                    <strong>{{selectedPost.recruiterId.companyName}}</strong>
                </div>
                <h3 class="role">{{selectedPost.role}}</h3>
                <span>{{selectedPost.location}}</span>
                <span>{{selectedPost.jobType}}</span>
                <span>{{selectedPost.salary}}</span>
                <button class="button1" #applyButton jobseekerShow (click)="apply(selectedPost._id)">
                    <b>Apply now</b>
                </button>
            </div>
            <div class="change-box">
                <h2>Job details</h2>
                <span><b>Pay</b></span>
                <span>{{selectedPost.salary}}</span>
                <span><b>Shift and schedule</b></span>
                <span>{{selectedPost.schedule}}</span>
                <span><b>Job type</b></span>
                <span>{{selectedPost.jobType}}</span>
                <span><b>Benifits</b></span>
                <span>{{selectedPost.benifits}}</span>
                <span><b>Full job description</b></span>
                <span>{{selectedPost.content}}</span>
                <span><b>Education</b></span>
                <span>{{selectedPost.education}}</span>
                <span><b>Language</b></span>
                <span>{{selectedPost.language}}</span>
                <span><b>Posted date</b></span>
                <span>{{selectedPost.date | toDate | date:'medium'}}</span>
            </div>
        </div>
    </div>
</div>