<div class="router">
    <div class="text" id="text">
        <h2 class="head">Your job applications</h2>
    </div>

    <div class="container">

        <div class="left">
            <div *ngFor="let post of posts" class="post" (click)="rightBox(post._id)">
                <div class="boxHead">
                    <img [src]="post.recruiterId.image" class="logo">
                    <strong>{{post.recruiterId.companyName}}</strong>
                </div>
                <h2 class="role">{{post.role}}</h2>
                <p>{{post.location}}</p>
                <span class="label">{{post.salary}}</span>
                <span class="label">{{post.jobType}}</span>
                <span class="label">{{post.schedule}}</span>
                <p>{{post.content.substring(0,100)+"..."}}</p>
                <p>{{(post.date | toDate | date:'medium')}}</p>
            </div>
            <h2 class="head" *ngIf="posts?.length==0">No jobs applied</h2>
        </div>

    </div>

    <div class="right" id="right" *ngIf="posts?.length!==0">

        <div class="applicant">
            <img [src]="userDetails.image" class="image">
            <span><b>Application status</b></span>
            <span>Job applied: Status <span
                    [ngClass]="status=='Pending'?'yellow':status=='Rejected'?'red':'green'">{{status}}</span></span>
        </div>

    </div>

    <div class="paginator">
        <mat-paginator (page)="handlePageEvent($event)" [length]="length" [pageSize]="pageSize"
            [showFirstLastButtons]="showFirstLastButtons" [pageSizeOptions]="pageSizeOptions" [pageIndex]="pageIndex"
            aria-label="Select page">
        </mat-paginator>
    </div>

</div>