<div class="router">
    <div class="text" id="text">
        <h2 class="head">Your job applications</h2>
    </div>
    <div class="container">
        <div class="left">
            <div *ngFor="let post of posts" class="post" (click)="rightBox(post._id)">
                <div class="boxHead">
                    <img [src]="post.recruiterId.image" class="logo">
                    <strong>{{post.recruiterId.companyName}}</strong>
                </div>
                <h2 class="role">{{post.role}}</h2>
                <p>{{post.location}}</p>
                <span class="label">{{post.salary}}</span>
                <span class="label">{{post.jobType}}</span>
                <span class="label">{{post.schedule}}</span>
                <p>{{post.content.substring(0,100)+"..."}}</p>
                <p>{{(post.date | toDate | date:'medium')}}</p>
            </div>
        </div>
    </div>
    <div class="right" id="right">
        <div class="applicant">
            <img [src]="userDetails.image" class="image">
            <span><b>Application status</b></span>
            <span>Application submited: Status <span
                    [ngClass]="status=='Pending'?'yellow':status=='Rejected'?'red':'green'">{{status}}</span></span>
        </div>
    </div>
</div>