<div class="container">
        <img class="image" src="../../assets/image/Add User-cuate.png">
        <div class="registerBox">
                <h1 class="head">Add user</h1>
                <form class="form" [formGroup]="addUserForm">
                        <label class="labels">Enter name :</label>
                        <input class="inputs" placeholder="Enter name" formControlName="name">
                        <mat-error *ngIf="addUserForm.get('name')?.invalid &&
               (addUserForm.get('name')?.dirty ||
               addUserForm.get('name')?.touched)">
                                Name is required!</mat-error>


                        <label class="labels">Enter email :</label>
                        <input class="inputs" placeholder="Enter email" formControlName="email">
                        <mat-error *ngIf="addUserForm.get('email')?.invalid &&
               (addUserForm.get('email')?.dirty ||
                addUserForm.get('email')?.touched)">
                                Email is required!</mat-error>

                        <label class="labels">Enter password: </label>
                        <input type="password" class="inputs" placeholder="Enter password" formControlName="password">
                        <mat-error *ngIf="addUserForm.get('password')?.invalid &&
               (addUserForm.get('password')?.dirty ||
                addUserForm.get('password')?.touched)">
                                Password is required!
                        </mat-error>

                        <label class="labels">Select role: </label>
                        <select class="inputs" formControlName="role">
                                <option>ADMIN</option>
                                <option>RECRUITER</option>
                                <option>JOBSEEKER</option>
                        </select>
                        <mat-error *ngIf="addUserForm.get('role')?.invalid &&
               (addUserForm.get('role')?.dirty ||
                addUserForm.get('role')?.touched)">
                                Role is required!
                        </mat-error>

                </form>

                <button mat-raised-button color="primary" (click)="register()" class="buttons">Add User</button>
        </div>
</div>