<div class="header">

    <div class="title-box">
        <img src="../../assets/image/cv.png">
        <label class="title"><strong>Job wave</strong></label>
    </div>

    <div class="head1">
        <span routerLink="">Home</span>
        <span recruiterShow routerLink="findApplicant">Find applicants</span>
        <span recruiterShow routerLink="myPost">My posts</span>
        <span jobseekerShow routerLink="company">Company</span>
        <span jobseekerShow routerLink="myJob">My jobs</span>
        <span recruiterShow routerLink="bills">View transactions</span>
        <span recruiterShow routerLink="postPage"> Post job</span>
        <span adminShow routerLink="viewUser">View users</span>
        <span adminShow routerLink="addUser">Add user</span>
        <span adminShow routerLink="payment">Transactions</span>
        <span adminShow routerLink="register">Registrations</span>
        <span appLoginHide (click)="login()">Sign in</span>
        <span appLoginShow routerLink="profile" class="profile">{{name}}<img class="profile-image" appLoginShow
                [src]="profile"></span>
    </div>

</div>
<router-outlet></router-outlet>