.box {
    max-width: 240px;
    min-width: min-content;
    height: fit-content;
    padding: 25px;
    border-radius: 15px;
    background-color: white;
    border: 0px;
}

.name {
    font-size: 15px;
}


.content {
    padding: 20px;
    width: 100%;
}

.text {
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: large;
}



.head {
    color: #3F51B5;
    padding: 10px;
}

table {
    width: 100%;
}


.body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.red {
    color: red;
}

.green {
    color: green;
}

.yellow {
    color: rgb(234, 196, 70);
}

.button {
    margin-left: 47%;
}