.logo {
    height: 10vh;
    margin-right: 5%;
}

.button {
    height: 7vh;
    width: 10%;
    border: 0px;
    background-color: #2557A7;
    border-radius: 10px;
    margin-left: 3%;
    font-size: medium;
    color: white;
    cursor: pointer;
}

.button1 {
    height: 7vh;
    margin: 10px;
    width: fit-content;
    border: 0px;
    background-color: #2557A7;
    padding: 10px;
    border-radius: 10px;
    font-size: medium;
    color: white;
    cursor: pointer;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.button1:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
}

.button1:disabled {
    background-color: gray;
    cursor: not-allowed;
}


.text {
    font-size: large;
}

.head {
    color: #3F51B5;
    padding: 10px;
}

.container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.post {
    display: grid;
    width: 500px;
    padding: 25px;
    grid-row: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 5px;
    border-radius: 10px;
    border: 1px solid rgb(12, 12, 12);
    cursor: pointer;
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.post:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    transform: translateY(-10px);
}

.left {
    width: 78%;
    height: fit-content;
    margin-top: 30px;
    margin-left: 18%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    border-radius: 20px;
    justify-content: space-around;
}

.right {
    width: 40%;
    position: absolute;
    height: 90%;
    margin: 2% 0% 0% 50%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid black;
    border-radius: 12px;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
}

.paginator {
    margin-right: 45%;
    padding: 20px;
}

.right-fixed {
    position: fixed;
    top: 0;
}

.boxHead {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fix-box {
    display: grid;
    row-gap: 2px;
    height: fit-content;
    width: 100%;
    padding: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    transform: translateY(-10px);
}

.change-box {
    display: grid;
    row-gap: 10px;
    padding: 20px;
    background-color: white;
    overflow-y: auto;
}

.image {
    width: 10%;
    height: 7vh;
}

.search {
    margin-top: 2%;
    padding: 1px;
    border: 1px solid black;
    width: 70%;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.search:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    transform: translateY(-1px);
}

.input {
    height: 9vh;
    width: 42%;
    border: 0px;
    padding: 10px;
    font-size: medium;
    color: rgb(9, 9, 9);
}

.symbol {
    font-size: larger;
    margin-top: 13px;
}

.label {
    background-color: #F3F2F1;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
}

.router {
    display: grid;
    grid-row: 1fr;
    align-items: center;
    justify-items: center;
}

.role:hover {
    text-decoration: underline;
}