.head {
    display: grid;
    grid-template-columns: 0.6fr 3fr 1fr;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 15px;
}

.content {
    display: grid;
    padding: 10px;
}

.head-box {
    display: flex;
    flex-direction: column;
}

.container-main {
    padding: 30px;
    padding-top: 10px;
}

.label {
    background-color: #F3F2F1;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
}

.posts {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    overflow-y: auto;
}

.post {
    display: grid;
    width: 400px;
    padding: 25px;
    grid-row: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 5px;
    border-radius: 10px;
    border: 1px solid rgb(12, 12, 12);
    cursor: pointer;
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.post:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    transform: translateY(-10px);
}

.button1 {
    height: 7vh;
    margin: 10px;
    width: fit-content;
    border: 0px;
    background-color: #2557A7;
    padding: 10px;
    border-radius: 10px;
    font-size: medium;
    color: white;
    cursor: pointer;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.button1:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
}

.button1:disabled {
    background-color: gray;
}

.logo {
    height: 10vh;
    margin-right: 5%;
}

.boxHead {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.container {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    margin: 40px;
    justify-content: space-between;
}

.star {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100px;
}

.star fa-icon.rated {
    color: rgb(234, 227, 18);
}

.container fa-icon {
    color: gray;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.15s;
}

.container fa-icon.rated,
.container fa-icon:hover,
.container fa-icon:hover~fa-icon {
    color: rgb(71, 88, 184);
}

.container.readOnly fa-icon {
    cursor: default;
}

.container.readOnly fa-icon:hover:not(.rated),
.container.readOnly fa-icon:hover~fa-icon:not(.rated) {
    color: gray;
}


.heading {
    text-align: center;
    padding: 20px;
    font-size: 25px;
    font-weight: 600;
}

button.mat-raised-button:hover {
    background-color: #2b3880;
}


.action-buttons {
    display: flex;
    justify-content: space-around;
}