<div class="left">
    <h2 class="head">Your post bills</h2>

    <div *ngFor="let bill of bills" class="bill">
        <span><strong>Post Title:</strong> {{bill.postId.role}}</span>
        <span><strong>Name:</strong> {{bill.name}}</span>
        <span><strong>Email:</strong> {{bill.email}}</span>
        <span><strong>Payment ID:</strong> {{bill.paymentId}}</span>
        <span><strong>Order ID:</strong> {{bill.orderId}}</span>
        <span><strong>Amount:</strong> ₹{{bill.amount}}</span>
        <span><strong>Payment Date:</strong> {{bill.postId.date | toDate| date:'medium'}}</span>

    </div>
    <div class="paginator">
        <mat-paginator (page)="handlePageEvent($event)" [length]="length" [pageSize]="pageSize"
            [showFirstLastButtons]="showFirstLastButtons" [pageSizeOptions]="pageSizeOptions" [pageIndex]="pageIndex"
            aria-label="Select page">
        </mat-paginator>
    </div>
</div>