<div class="content">

    <div class="text" id="text">
        <h2 class="head">Users list</h2>
    </div>

    <div class="body">
        <mat-table [dataSource]="bills" class="mat-elevation-z8">

            <ng-container matColumnDef="Post Title">
                <mat-header-cell *matHeaderCellDef> Post Title </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.postId.role}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Name">
                <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.name}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Email">
                <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.email}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Payment ID">
                <mat-header-cell *matHeaderCellDef> Payment ID </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.paymentId}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Order ID">
                <mat-header-cell *matHeaderCellDef> Order ID </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.orderId}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Amount">
                <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
                <mat-cell *matCellDef="let element" class="amount">- ₹{{element.amount}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Payment Date">
                <mat-header-cell *matHeaderCellDef> Payment Date </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.postId.date|toDate|date:'medium'}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </div>
    <div>
        <mat-paginator (page)="handlePageEvent($event)" [length]="length" [pageSize]="pageSize"
            [showFirstLastButtons]="showFirstLastButtons" [pageSizeOptions]="pageSizeOptions" [pageIndex]="pageIndex"
            aria-label="Select page">
        </mat-paginator>
    </div>

</div>