.box {
    max-width: 240px;
    min-width: min-content;
    height: fit-content;
    padding: 25px;
    border-radius: 15px;
    background-color: white;
    border: 0px;
}

.name {
    font-size: 15px;
}

.content {
    padding: 20px;
    width: 100%;
}

.text {
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: large;
}



.head {
    color: #3F51B5;
    padding: 10px;
}

.buttons {
    font-size: 15px;
    border: 0px;
    padding: 10px;
    width: fit-content;
    margin-left: 30%;
}

.buttons:hover {
    color: black;
    background-color: aliceblue;
    cursor: pointer;
}

table {
    width: 100%;
}


.body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonA {
    height: fit-content;
    margin: 10px;
    width: 90px;
    border: 0px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(30, 238, 30);
    font-size: medium;
    color: rgb(0, 0, 0);
    cursor: pointer;

}

.buttonD {
    height: fit-content;
    margin: 10px;
    width: fit-content;
    background-color: rgb(240, 60, 60);
    border: 0px;
    padding: 10px;
    border-radius: 5px;
    font-size: medium;
    color: rgb(8, 8, 8);
    cursor: pointer;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.red {
    color: red;
}

.green {
    color: green;
}

.yellow {
    color: rgb(234, 196, 70);
}