<div class="content">

  <div class="search" id="search">
    <input type="text" [(ngModel)]="inp" placeholder="Name" class="input" (input)="search()">
  </div>

  <div class="text" id="text">
    <h2 class="head">All users</h2>
  </div>

  <div class="body">

    <mat-table [dataSource]="users" class="mat-elevation-z8">

      <ng-container matColumnDef="Name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Email">
        <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.email}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Role">
        <mat-header-cell *matHeaderCellDef> Role </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.role.role}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Status">
        <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.status}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Edit">
        <mat-header-cell *matHeaderCellDef> Edit </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button *ngIf="element.status=='active'" class="buttonD"
            (click)="updateStatus(element._id,'inactive')">deactivate</button>
          <button *ngIf="element.status!='active'" class="buttonA"
            (click)="updateStatus(element._id,'active')">activate</button>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Profile">
        <mat-header-cell *matHeaderCellDef> Profile </mat-header-cell>
        <mat-cell *matCellDef="let element"><button mat-raised-button color="primary" class="button"
            (click)="getDetails(element.role.role,element.email)">View</button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>

  </div>

  <div>

    <mat-paginator (page)="handlePageEvent($event)" [length]="length" [pageSize]="pageSize"
      [showFirstLastButtons]="showFirstLastButtons" [pageSizeOptions]="pageSizeOptions" [pageIndex]="pageIndex"
      aria-label="Select page">
    </mat-paginator>

  </div>

</div>